*{
  border: 1px solid rgba(0,0,0,0.3)
}

h1 {
  color: Blue;
  text-align: center;	
}

h2 {
  color: Aqua;
  text-align: center;
}

p {
  text-align: center;	
}
 

/* use google font directory to get the correct font on a web page every time! */