<style>
body {
        background-image: url("http://i.imgur.com/dWBI3tr.jpg");
	background-position: center top;
    	background-size: 100% auto;
	background-repeat: no-repeat;
	color: white;
} 
 
</style>